@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=SUSE:wght@100..800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.signup{
    height:550px;
    width:400px;
    margin: 50px 0 0 600px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#f0ead2 ;

   
   
}

.Signupheading{
   
    font-family: "Roboto Slab", serif; 
   justify-content: center;
}


 .name{
    margin-top: 100px;
    height: 40px;
    width: 300px;
    background-color: #adc178;
    border: none;
    border-radius: 11px;
    padding-left: 20px;
    font-size: 17px;
 }

.semail,.spassword, .confirmpassword{
    background-color: #adc178;
    height: 40px;
    width: 300px;
    margin-top:20px;
    border: none;
    border-radius: 11px;
    padding-left: 20px;
    font-size: 17px;
   
}

.Signupbtn{
    margin-top:20px;
    width: 160px;
    height: 40px;
    border: none;
    font-size: 20px;
    border: none;
    border-radius: 11px;
    background-color: #adc178;
    color: white;
}   

.loginSignup{
   
    position: relative;
    font-size: 22px;
    top: 40px;
    right: 130px;
    width: 80px;
    height: 40px;
    font-family: "Roboto Slab", serif;
    color:rgb(13, 13, 179);
  
}
